<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Canny(边缘检测器).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>ConvexHull(凸包).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Hit-or-Miss.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>HoughCircles(检察圆).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>HoughLines(直线检测).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Laplacian(拉普拉斯&amp;梯度运算).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Remapping(重新映射).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Sobel(衍生物&amp;边缘检测).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Watershed(图像分割).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>calcBackProject(后投影).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>calcHist(直方图计算).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>compareHist(直方图比较).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>copyMakeBorder(添加边框).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>equalizeHist(直方图同等化).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>filter2D(线性滤镜).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>findContours(查找轮廓).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>getStructuringElement(提取水平和垂直线).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>gtest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>inRange(阈值操作).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>matchTemplate(模版 匹配).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>moment&amp;contourArea&amp;arcLength.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>morphologyEx(更多形态转化).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>opencv.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>pointPolygonTest(点多边形测试).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>pyrUp&amp;pryDown(图像金字塔).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>threshold(基本阈值操作).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>warpAffine(仿射变换).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>为轮廓创建边界框和圆.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>侵蚀和扩张.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>平滑图像.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F1DB59D278FB952008EC2DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F1DB5A8278FC361008EC2DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F1DB5B3278FD33E008EC2DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F1DB5BE278FF678008EC2DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F1DB5C92790070E008EC2DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F1DB5D627901D7A008EC2DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F1DB5E127902CAE008EC2DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F1DB5ED279043A7008EC2DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F285AC627884D8B00F6C853</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F285AD1278BC53D00F6C853</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F3EB2A6278D16F700935E30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F6B6E7B278C1A4400D26E71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F6B6E86278C214B00D26E71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F6B6E95278C2E1D00D26E71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F6B6EA2278C47F800D26E71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F6E56522783E74300756B02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FA2C37327873A49003A112E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FB5F0CF279AC1C700AA8047</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE3D7BA27912A3F003A6F04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE3D7C5279179DD003A6F04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE3D7D027917E54003A6F04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE3D7DB2791858C003A6F04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE3D7E827969ED3003A6F04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE3D7F32796BBE1003A6F04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE3D7FE2796BCBC003A6F04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE3D80B2796CDE0003A6F04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE3D8162797A6F4003A6F04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE3D8212797EF6C003A6F04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE3D82D2798346B003A6F04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
